/* Pastikan body dan html memiliki margin 0 dan padding 0 */
html,
body {
    margin: 0;
    padding-top: 30px;

/* Tambahkan sedikit jarak di luar container */
.container {
    margin-top: 5px; /* Atur agar konten tidak terhalang navbar */
}

/* Perbaikan untuk card agar lebih responsif */
.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Agar gambar di dalam card tetap proporsional */
.card img {
    object-fit: cover;
    max-height: 100%;
}

/* Agar konten di dalam card rapi */
.card-body {
    padding: 10px;
}

/* Setiap paragraf dalam card harus memiliki margin yang sedikit agar lebih rapi */
.card-text {
    margin-bottom: 10px;
}
